# Treat line endings as LF in all files
* text=auto

# Mark shell scripts as executable
*.sh text eol=lf

# Exclude from language stats
docs/* linguist-documentation=true
Makefile linguist-vendored=true
Dockerfile linguist-vendored=true